.hero-section {
    background-image: linear-gradient(to bottom, rgba(90, 158, 175, 0.575), rgba(66, 137, 165, 0.521)), url('./assets/header-img-hero.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}